h1 {
  text-align: center;
  color: tan;
}
body {
  display: grid;
  background-color: wheat;
  /* place-items: center; */
  margin: 50px;
}
header {
  display: grid;
  place-items: center;
}
input {
  display: flex;
  background-color: rgb(189, 174, 110);
  color: rgb(9, 6, 1);
  font-family: Helvetica;
  border-color: blanchedalmond;
  box-shadow: 30px;
  margin: 0;
}

::placeholder {
  font-family: Helvetica;
  color: bisque;
  opacity: 70%;
}

button {
  display: flex;
  color: brown;
  background-color: rgb(189, 174, 110);
  font-family: Helvetica;
  border-color: blanchedalmond;
  box-shadow: 30px;
  margin: 0;
}
